.header {
  color:rgb(248, 233, 233);
  display: flex;
 
  padding: 1.5em;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
  
}

.header_icons{
   display: flex;;
   align-items: center;
   text-align: center;
}
.header_icon{
    display: flex;;
    flex-direction: column;
    min-width: 7rem;
    text-align: center;
    align-items: center;
    cursor:pointer;
 }
 .header_icon > .MuiSvgIcon-root{
    font-size: 2rem;
 }

 
 .header_icon > p{
    display: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: small;
 }
 .header_icon:hover > p{
    display: inline;
    
 }
 
 /*Hide scrollbar for Chrome,Safari and Opera*/
 .header::-webkit-scrollbar{
    display: none;
 }

 .header{
     -ms-overflow-style: none;
     scrollbar-width: none;/*Firefox*/
 }

.header_icon_active >p{
    display: inline!important;

 }
.header > img {
    object-fit: contain;
    height: 80px;
  }