*{
    margin: 0;
    padding: 0;
}

.videoCard{
  color: white;
  padding: 3.5em;
  height: 400px;
  width: 500px;
  transition: transform 100ms ease-in;
}

.videoCard >img{
  height: 300px;
  object-fit: cover;
  width: 500px;
  margin: 0;
  padding: 0;
}

.videoCard:hover{
    transform: scale(1.1);
  }

  .videoCard > h2 {
    padding-top: 0.5em
  }

  .videoCardFooter{
    display: flex;
    justify-content: space-between;
  }